* {
    margin: 0;
    padding: 0;
}

.background {
    background-color: rgb(14, 14, 14);
    color: rgb(12, 12, 12);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.editor{
    position: absolute;
    background-color: rgb(227, 238, 248);
    width: 40%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;
}

.header {
    width: 100%;
    text-align: center;
}

td {
    width: 5%;
}

.option {
    width: 100%;
    background-color: rgba(1, 1, 1, 0);
    border: 0px;
    cursor: pointer;
    font-size: 16px;
}

textarea {
    background-color: white;
    position: absolute;
    width: 96%;
    height: 84%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}